
.house__woll_r {
    position: relative;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    left: 40px;
    background-color: silver
}

.house__roof_r {
    position: relative;
    height: 20px;
    width: 285px;
    border-bottom: 140px solid brown;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.wall__window_left_r {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid purple;
    top: 20px;
    left: 20px;
    background-color: white;
}


.window__frame_left_first_r {
    position: relative;
    width: 100px;
    height: 5px;
    background-color: blue;
    top: 47%
}

.window__frame_left_second_r {
    position: relative;
    width: 5px;
    height: 100px;
    background-color: blue;
    top: -4%;
    left: 45%;
}

.wall__window_right_r {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid purple;
    top: -83px;
    left: 175px;
    background-color: white;
}

.window__frame_right_first_r {
    position: relative;
    width: 100px;
    height: 5px;
    background-color: blue;
    top: 50%
}

.window__frame_right_second_r {
    position: relative;
    width: 5px;
    height: 100px;
    background-color: blue;
    top: -5%;
    left: 55%;
}

.wall__door_r {
    position: relative;
    width: 90px;
    height: 160px;
    border: 2px solid black;
    top: -70px;
    left: 100px;
    background-color: brown;
}

.door__handle_r {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
    top: 40%;
    left: 5%;
}


.house__woll_f {
    position: fixed;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    margin-left: 500px;
    top: 160px;
    background-color: silver;
}

.house__roof_f {
    position: fixed;
    height: 20px;
    width: 285px;
    left: 460px;
    top: 0;
    border-bottom: 140px solid brown;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.wall__window_left_f {
    position: fixed;
    width: 100px;
    height: 100px;
    border: 2px solid purple;
    top: 187px;
    left: 525px;
    background-color: white;
}



.window__frame_left_first_f {
    position: fixed;
    width: 100px;
    height: 5px;
    background-color: blue;
    top: 245px;
    left: 527px;
}

.window__frame_left_second_f {
    position: fixed;
    width: 5px;
    height: 100px;
    background-color: blue;
    left: 560px;
    top: 189px;
}

.wall__window_right_f {
    position: fixed;
    width: 100px;
    height: 100px;
    border: 2px solid purple;
    top: 187px;
    left: 675px;
    background-color: white;
}

.window__frame_right_first_f {
    position: fixed;
    width: 100px;
    height: 5px;
    background-color: blue;
    top: 245px;
}

.window__frame_right_second_f {
    position: fixed;
    width: 5px;
    height: 100px;
    background-color: blue;
    left: 740px;
}

.wall__door_f {
    position: fixed;
    width: 90px;
    height: 160px;
    border: 2px solid black;
    top: 301px;
    left: 605px;
    background-color: brown;
}

.door__handle_f {
    position: fixed;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
    top: 370px;
    left: 610px;
}

.house__woll_a {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    margin-left: 500px;
    top: 626px;
    background-color: silver;
}

.house__roof_a {
    position: absolute;
    height: 20px;
    width: 285px;
    left: 460px;
    top: 466px;
    border-bottom: 140px solid brown;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.wall__window_left_a {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid purple;
    top: 20px;
    left: 20px;
    background-color: white;
}



.window__frame_left_first_a {
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: blue;
    top: 50%
}

.window__frame_left_second_a {
    position: absolute;
    width: 5px;
    height: 100px;
    background-color: blue;
    left: 30%;
    top: 0;
}

.wall__window_right_a {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid purple;
    top: 20px;
    left: 175px;
    background-color: white;
}

.window__frame_right_first_a {
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: blue;
    top: 50%
}

.window__frame_right_second_a {
    position: absolute;
    width: 5px;
    height: 100px;
    background-color: blue;
    left: 55%;
    top: 0;
}

.wall__door_a {
    position: absolute;
    width: 90px;
    height: 160px;
    border: 2px solid black;
    top: 138px;
    left: 100px;
    background-color: brown;
}

.door__handle_a {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
    top: 40%;
    left: 5%;
}

.house__woll_s {
    position: static;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    margin-left: 35px;
    background-color: silver;
}

.house__roof_s {
    position: static;
    height: 20px;
    width: 285px;
    border-bottom: 140px solid brown;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}


.wall__window_left_s {
    position: static;
    width: 100px;
    height: 100px;
    border: 2px solid purple;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
}

.wall__window_right_s {
    position: static;
    width: 100px;
    height: 100px;
    border: 2px solid purple;
    margin-top: -105px;
    margin-left: 175px;
    background-color: white;
}

.window__frame_right_first_s {
    position: static;
    width: 100px;
    height: 5px;
    background-color: blue;
    margin-top: 50%
}

.window__frame_right_second_s {
    position: static;
    width: 5px;
    height: 100px;
    background-color: blue;
    margin-left: 65%;
    margin-top: -55%;
}

.wall__door_s {
    position: static;
    width: 90px;
    height: 160px;
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 100px;
    background-color: brown;
}

.door__handle_s {
    position: static;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
    margin-top: 80%;
    margin-left: 5%;
}